__pycache__/

ColorisationMethods/Algorithmia/
ColorisationMethods/Algorithmia/*.*
ColorisationMethods/Clustering/Data/CombinationValues_Large.p
ColorisationMethods/Clustering/Data/MatchValues_Large.json